.container{
    display: flex;
    justify-content: center;
}

.hello{
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    background: #dbb6b6;
}

.hi{
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    background: #ccc;
}

#hide{
    width: 100px;
    height: 50px;
    border: none;
    background-color: blue;
    color: white;
    align-items: center;
    justify-content: center;
}